@model Film

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Description</title>
</head>
<body>
   <div class="filmblock">
        <img src="@Model.ImagePath" width="250" height="320"/>
        <br/>
        <p>Title : @Model.Title</p>
        <p>Age restriction : @Model.AgeRestriction</p>
        <p>Plot : @Model.Plot</p>
    </div>
</body>
</html>