@model Film

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit</title>
</head>
<body>
<div>
    <form asp-action="Edit" method="post">

        <input type="hidden" asp-for="Id">

        <p>Title : </p> <input asp-for="Title">

        <p>Age restriction : </p> <input asp-for="AgeRestriction">

        <p>Plot : </p> <input asp-for="Plot">

        <p>Description :</p> <input asp-for="Description">

        <button type="submit">Edit</button>
    </form>
</div>
</body>
</html>